{%- if api == "node" %}
{%-     for node in data_to_template %}
```mermaid
erDiagram
    ISE_ERS_Node_API |o--|{ {{ node.name |  replace("-","_") }} : ID_{{ node.id }}
    {{ node.name |  replace("-","_") }} {
        URL {{  node.link.href }}
    }
```
{%-     endfor %}
{%- else %}
{%- if api == "version" %}
```mermaid
erDiagram
    ISE_MnT_Version_API |o--|{ {{ data_to_template.product['@name'] |  replace(" ","_") }} : Type_of_Node_{{ data_to_template.product.type_of_node }}
    {{ data_to_template.product['@name'] |  replace(" ","_") }} {
        Version v{{ data_to_template.product.version | replace(".","_")}}
    }
```
{%- endif %}{%- endif %}