{%- if api == "node" %}# ISE ERS Node
| ID | Name | Link |
| -- | ---- | ---- |
{%-     for node in data_to_template %}
| {{ node.id }} | {{ node.name }} | [URL]({{ node.link.href }}) |
{%-     endfor %}
{%- else %}
{%- if api == "version" %}# ISE MnT Version
| Product Name | Type of Node | Version |
| ------------ | ------------ | ------- |
| {{ data_to_template.product['@name']}} | {{ data_to_template.product.type_of_node }} | {{ data_to_template.product.version }} |
{%- endif %}{%- endif %}