{%- if api == "node" %}ID,Name,Link
{%-     for node in data_to_template %}
{{ node.id }},{{ node.name }},{{ node.link.href }}
{%-     endfor %}
{%- else %}
{%- if api == "policy-set" %}
{%-     for policy in data_to_template %}Name,Service Name,Description,ID,State,Condition,Default,Hits,Rank,Is Proxy,URL
{{ policy.name }},{{ policy.serviceName }},{{ policy.description }},{{ policy.id }},{{ policy.state }},{{ policy.condition }},{{ policy.default }},{{ policy.hitCounts }},{{ policy.rank }},{{ policy.isProxy }},{{ policy.link.href }}
{%-     endfor %}
{%- else %}
{%- if api == "version" %}Product Name,Type of Node,Version
{{ data_to_template.product['@name']}},{{ data_to_template.product.type_of_node }},{{ data_to_template.product.version }}
{%- endif %}{%- endif %}{%- endif %}
