{%- if api == "node" %}
```mermaid
classDiagram
{%-     for node in data_to_template %}
class {{ node.name | replace("-","_") }}{
ID: {{ node.id }}
URL: {{ node.link.href }}
}
{%-    endfor %}
```
{%- else %}
{%- if api == "policy-set" %}
```mermaid
classDiagram
{%-     for policy in data_to_template %}
class {{ policy.name | replace("-","_") }}{
Service Name: {{ policy.serviceName }}
Description: {{ policy.description }}
ID: {{ policy.id }}
State: {{ policy.state }}
Condition: {{ policy.condition }}
Default: {{ policy.default }}
Hits: {{ policy.hitCounts }}
Rank: {{ policy.rank }}
Is Proxy: {{ policy.isProxy }}
URL: {{ policy.link.href }}
}
{%-    endfor %}
```
{%- else %}
{%- if api == "version" %}
```mermaid
classDiagram
class {{ data_to_template.product['@name'] | replace(" ","_") }}{
Type of Node: {{ data_to_template.product.type_of_node }} 
Version: {{ data_to_template.product.version }}
}
```
{%- endif %}{%- endif %}{%- endif %}